* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.navigation {
    padding-bottom: 13px;
    margin-bottom: 52px;
}

.navigation-list {
    position: relative;
    top: 0;
    left: -76px;
}

.buyers {
    margin-bottom: 66px;
}

.buyers-main__info-suggestion {
    max-width: 427px;
}

.buyers-main__info__shops-text {
    font-size: 17px;
}

.shops {
    margin-bottom: 35px;
}

.partners-content {
    padding-left: 0;
    align-items: center;
}

.partners-content__info {
    max-width: 460px;
}

.partners-content__info h2 {
    font-size: 42px;
    line-height: 52px;
    width: 222px;
    margin-bottom: 11px;
}

.partners-content__expecting {
    max-width: 389px;
    padding-top: 59px;
    margin-right: 61px;
}

.partners-content__contacts__refs {
    flex-direction: column;
    align-items: baseline;
    padding-top: 15px;
}

.partners-content__phone__refs-icons {
    padding-left: 14px;
}

.partners-content__contacts__refs-number {
    font-size: 37px;
    line-height: 30px;
    margin-bottom: 28px;
    position: relative;
    top: 6px;
    left: 6px;
}

.partners-content__info p {
    max-width: 461px;
}

.partners {
    margin-bottom: 62px;
}

.footer {
    padding: 57px 0 31px 0;
}

.shops-location-title-mobile {
    display: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #373F41;
}

@media (max-width: 1409.98px) {
    .container {
        max-width: 1110px;
    }

    .buyers {
        margin-bottom: 37px;
    }

    .buyers-main__info .buyers-main__info-suggestion {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 119px;
    }

    .buyers-main__info__shops .buyers-main__info__shops-text {
        font-size: 15px;
        line-height: 20px;
        max-width: 156px;
    }

    .shops-location__list h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .partners > .container {
        padding-left: 22px;

    }

    .partners-content {
        padding-top: 13px;
    }

    .partners-content__info {
        max-width: 348px;
        margin-right: 37px;
    }

    .partners-content__info h2 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 29px;
    }

    .partners-content__contacts__refs {
        padding-top: 19px;
    }

    .partners-content__contacts__refs-number {
        font-size: 36px;
        line-height: 30px;
    }

    .partners-content__expecting {
        margin-right: -31px;
        padding-top: 68px;
    }

    .partners-content__expecting, .partners-content__info p:nth-child(2) {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: -15px;
    }
}

@media (max-width: 1199.98px) {
    .container {
        max-width: 690px;
    }

    .nav {
        max-width: 691px;
        padding-left: initial;
    }

    .header {
        height: 76px;
    }

    .nav__logo {
        margin-left: 1px;
        margin-top: -12px;
        left: 0;
    }

    .nav__menu {
        margin: -2px 18px 0 16px;
        padding-left: 67px;
    }

    .navigation {
        margin-bottom: 32px;
        padding-top: 12px;
    }

    .navigation-list {
        margin-left: 10px;
        top: 1px;
        left: -153px;
    }

    .navigation-list li {
        font-size: 11px;
        line-height: 14px;
    }

    .partners-content__info {
        padding-left: 0;
        width: fit-content;
        max-width: initial;
    }

    .buyers-main__info .buyers-main__info-suggestion{
        font-size: 16px;
        line-height: 20px;
    }

    .shops-location-title-mobile{
        display: block;
    }

    .partners-content__info h2{
        font-size: 24px;
        line-height: 30px;
    }

    .partners-content__expecting, .partners-content__info p:nth-child(2){
        font-size: 16px;
        line-height: 20px;
    }

    .shops {
        margin-bottom: 24px;
    }

    .partners > .container{
        padding-left: 0;
    }

    .partners-content{
        align-items: initial;
    }

    .partners-content__info h2{
        width: 142px;
        margin-bottom: 16px;
    }

    .partners-content__expecting{
        padding-top: 28px;
    }
}
