@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

.title-small{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.salad{
    color: #CBF1D4;
}

.white{
    color: #fff;
}

.active{
    color: #fff;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-bottom: 4px;
    padding-top: 5px;
}

.description-text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
}

.big-title{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #373F41;
}

.description-text-black{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #373F41;
}


.subtitle-text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #373F41;
}

.title-h3{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #373F41;
}


/*Styles for yandex map*/
.info-popular-label{
    background-color: #6979F8;
    width: 200px;
    height: 137px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 5px;
    border-radius: 1px;
    font-size: 13px;
    line-height: 18px;
}

.info-popular-label__top{
    border-bottom: 1px solid #fff;
    display: flex;
    padding-left: 6px;
    padding-right: 14px;
}

.info-popular-label__bottom{
    padding-right: 46px;
    padding-left: 6px;
}

.info-popular-label__bottom p{
    margin-bottom: 1px;
}

.info-popular-label__bottom a{
    text-decoration: none;
    color: #fff;
}
