@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}

.title-small{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #CBF1D4;
}

.salad{
    color: #CBF1D4;
}

.active{
    color: #fff;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-bottom: 4px;
    padding-top: 5px;
}

.description-text-white{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.big-title{
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #373F41;
}

.description-text-black{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #373F41;
}


.subtitle-text{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #373F41;
}
